<style>

 hr {
   
   height: 15px;
    color: #ffbcfd;
    background-color:#ffbcfd;
     border: none;
     
}

</style>
<body style="background-color:#FFE4E1" >
   
	<div class="container">
		<h1 style="color:#af5b8f;font-family: forte;">About Us</h1>
		<div class="col-md-12" align="right">
			<a href="#/home" title="Home"><i class="fa fa-home fa-2x"
				aria-hidden="true"></i></a>
		</div>
	</div>
	<hr >
     
	<div class="container">
		<div class="col-md-6">
		<h3  style="color:#695baf;font-family: forte; class="text-primary">Mission</h3>
		<p class="text-success">At GOSSIP GIRL we have one mission: GOSSIP GOSSIP and GOSSIP!!!!<3<BR>
		Gossip Girl here! Your one and only source into the scandalous lives 
		And who am I?
        That's one secret I'll never tell.
        You know you love me.
        xoxo... Gossip Girl<3
		<hr>
		
		<h3 style="color:#695baf;font-family: forte; class="text-primary">Our Values</h3>
		
		
		
		 <div>
			<p><span class="text-warning"><strong>Simplicity</strong></span> : <span class="text-success">We believe in rejecting all but what matters.</span></p>
			<p><span class="text-warning"><strong>Quality</strong></span> : <span class="text-success">We believe well crafted spaces elevate us.</span></p>
			<p><span class="text-warning"><strong>Privacy</strong></span> : <span class="text-success">We believe that you are not a product.</span></p>
		</div> 
		</div>
			<div class="col-md-6" align="center" style="margin-top:20px">
				<img src="resources/images/6.jpg" class="img-circle" alt="image" style="width: 50%; height: 50%" />
		</div>
	
	</div>
	<hr>
	
	<div class="container">
	<h1 style="color:#af5b8f;font-family: forte;">Contact Us</h1>
	</div>
	
	<div class="container">
	<div class="col-md-12">
		<p class="text-success">
		Your ideas and suggestions help us to constantly improve Talk features. Let us know how we can improve your experience.
		<br>
		XOXO GOSSIP GIRL<3
		</p><br>
		<div>
			 <a href="mailto:swati.thakur94.st@gmail.com?Subject=Hello&Body=Please%20type%20your%20suggestion%20/%20complaint" target="_top" title="Mail"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>&nbsp&nbsp
			 <a href="https://www.facebook.com/swatii.thakur" title="Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>&nbsp&nbsp
			 <a href="https://twitter.com/" title="Twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>&nbsp&nbsp
			 <a href="https://plus.google.com/" title="Goole+"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>&nbsp&nbsp
			 <a href="https://github.com/swatithakur94" title="GitHub"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
		</div>
		</div>
	</div>
	
	
</body>
