.glyphicon.glyphicon-wrench, .glyphicon.glyphicon-fire, .glyphicon.glyphicon-ok
	{
	color: #f26522;
	font-size: 100px;
}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right {
	color: #f26522;
}

html {
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 100px;
}
/*   {
   outline: 1px solid red;
  }
 */
.footer{
position: fixed;
	bottom: 0;
	margin: auto;
	width: 100%;
	 line-height: 50px;
	text-align: center;
	color: #fcd9da;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #123455;
	z-index: 100;
}



.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus {
	color: #f26522;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover,
	.navbar .navbar-nav>.active>a:focus {
	color: #f26522;
	background-color: #000000;
}

.navbar .navbar-toggle {
	border-color: #f26522;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background-color: #f26522;
}

#fa_color {
	color: #f26522;
	font-size: 1.5em;
}

video {
    position:relative;
    z-index:-1;
    
}

#custom-message {
    position:absolute;
    color: #E7E7E7;
	font-size: 30px;
    z-index:1;      
}

.category {
	
    text-transform: uppercase;
}
.btn-xl {
    padding: 30px 50px;
    font-size: 15px;
    border-radius: 70px;
}

.image {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.custom_message {
	background-color: #f7f7f7;
    padding : 10px;
     border: 1px solid #00a652;
    border-radius: 15px;
}

.message .self {

  text-align: right;
  font-weight: 600;
  
}

.count.danger {
  color: #a94442;
}
